
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.menu-menu-slide-8Xh {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 9.1rem 0rem 25.2rem 0rem;
  width: 100%;

  .container-rTh {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0rem 25.7rem 4.9rem 0rem;
    padding-bottom: 0.25rem;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;

    .home-aeb {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 8.3rem;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
    }
    .grid-7eX {
      margin-bottom: 8.6748rem;
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .heart-i8X {
      margin: 0rem 0rem 8.596rem 0rem;
      width: 2.6129rem;
      height: 2.279rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .plus-circle-2uu {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.5rem;
      height: 2.5rem;
      position: relative;
    }
  }
  .back-arrow-AWK {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    width: 21.5rem;
    height: 6rem;
  }
}
